body{
    margin: 0px;
    border:0;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    /* margicn-right: -15px;*/
   /* scroll:"no";*/
}
#container{

}

#screen_1{
    height:960px;
    margin: 0px;
    padding: 0px;
    border:0;
    width:100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
#screen_2{
    margin: 0px;
    padding: 0px;
    border:0;
    height:960px;
    width:100%;
    overflow-y: hidden;
    overflow-x: hidden;
}