body{
    margin: 0px;
    border:0;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    /* margicn-right: -15px;*/
   /* scroll:"no";*/
}
#container{

}
#screen_1{
    position: absolute;
    margin: 0px;
    padding: 0px;
    border:0;
    width:20%;
    height:100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
#screen_2{
    position: absolute;
    left:20.1%;
    top:0px;
    margin: 0px;
    padding: 0px;
    border:0;
    height:100%;
    width:80%;
    overflow-y: hidden;
    overflow-x: hidden;
}
